# Cache, session files and logs (Symfony3)
/var/cache/*
/var/logs/*
!var/cache/.gitkeep
!var/logs/.gitkeep

# Parameters
/config/parameters.yml
/config/parameters.ini

/vendor/

# Assets and user uploads
/web/uploads/

# Build data
/build/

# Composer PHAR
/composer.phar

/.idea